a {
    color: black;
}

a:hover {
    color: darkred;
}

.navbar {
    background-color: lightpink;
    color: white;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .1);
    z-index: 999;
    display: flex;
}

.navbar a {
    color: inherit;
    text-decoration: none;
}

.navbar a:hover {
    color: darkred;
}

.boxContainer {
    overflow: hidden;
}

.box {
    float: left;
    width: 250px;
    height: 320px;
    padding: 10px;
    border-style: none;
}

.box-highlight {
    float: left;
    width: 250px;
    height: 320px;
    padding: 10px;
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    background: linear-gradient(to bottom right, white 60%, gold);
}

.thumb {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.thumb:hover {
    border-color: lightpink;
    border-width: 5px;
}

.creator {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    border-color: lightpink;
}

.creator-highlight {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    background: linear-gradient(to right, white 60%, gold);
    border-width: 4px;
    border-color: gold
}

.boxrow {
    display: flex;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 250px;
    border-style: solid;
    border-color: lightpink;
}

.boxrow-highlight {
    display: flex;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 250px;
    border-style: solid;
    background: linear-gradient(to right, white 60%, gold);
    border-width: 4px;
    border-color: gold
}

.price {
    color: salmon;
    font-weight: bold;
}

.free {
    color: limegreen;
    font-weight: bold;
}

.deco {
    color: lightpink;
    font-style: italic;
}

.main {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.main:hover {
    border-color: lightpink;
}

.pagingbox {
    color: salmon;
    display: flex;
}

.paging {
    width: 100px;
    color: inherit;
}

.div-equal-box {
    padding-bottom: 20x;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightpink;
    color: white;
    font-size: 25px;
    margin: 20px 0px;
}

.div-equal-box div {
    text-align: center;
    width: 20%;
}

.div-equal-box div a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.div-equal-box div .Link {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div-equal-box div:hover {
    background-color: darkred;
}

.button {
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: lightpink;
    color: white;
    font-weight: bold;
}

.highlight {
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: orange;
    color: white;
    font-weight: bold;
}

.button_already {
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: lightpink;
    color: lightpink;
    font-weight: bold;
}

.danger {
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: red;
    color: white;
    font-weight: bold;
}

.inside-navbar {
    width: auto;
    padding-left: 50px;
    font-weight: bold;
    font-size: 30px
}

.content {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 130px
}

.emoji {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.welcome {
    text-align: center;
    font-size: 20px;
}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .3);
    margin-right: 10px;
    margin-left: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}