{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    {% load static %}
    <h3 class="deco">Avatar Page</h3>
    <h3>{{ avatar }}</h3>
    <p>
        by
        <a href="{% url 'app:creator' creator_id=avatar.creator.creator_id %}">{{ avatar.creator }}</a>
    </p>
    <p>
    </p>
    <p>
        <a href="https://booth.pm/ja/items/{{ avatar.avatar_id }}"
           target="blank">
            <img alt="main" class="main"  src="{{ avatar.imageURL }}" height="300px"/>
        </a>
    </p>
    <p >
        {% if avatar.price > 0 %}
            <span class="price">¥ {{ avatar.price|intcomma }}</span>
        {% else %}
            <span class="free">¥ Free</span>
        {% endif %}
    </p>
    <p>
        <a href="https://booth.pm/ja/items/{{ avatar.avatar_id }}"
           target="blank">BOOTH Link</a>
    </p>
    {% if user.is_authenticated %}
        <div class="btn-group dropright">
            <button type="button"
                    class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="background-color:lightpink;border-style:none;font-size:20px;font-weight:bold">
                Favorite
            </button>
            <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                {% for folder in folders %}
                    <a class="dropdown-item"
                       href="{% url 'app:folder' pk=folder.pk %}"
                       style="display:inline;margin-top:20px">{{ folder }}
                        {% if folder.notadd %}
                            <form method="post" style="display:inline">
                                {% csrf_token %}
                                <button class="button" name="add" value="{{ folder.pk }}">+Add</button>
                            </form>
                        {% else %}
                            <button class="button_already" disabled>Added</button>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if genuine_items|length > 0 %}
        <hr />
        <h4>対応アイテム（純正）</h4>
        <div class="boxContainer">
            {% for item in genuine_items %}
                <div class="box">
                    <a href="{% url 'app:item' item_id=item.item_id %}">
                        <img alt="thumb" src="{{ item.imageURL }}" class="thumb" />
                    </a>
                    <p>
                        <a href="{% url 'app:item' item_id=item.item_id %}">{{ item|truncatechars:30 }}</a>
                        by
                        <a href="{% url 'app:creator' creator_id=item.creator.creator_id %}">{{ item.creator|truncatechars:30 }}</a>
                        <br />
                        {% if item.price > 0 %}
                            <span class="price">¥ {{ item.price|intcomma }}</span>
                        {% else %}
                            <span class="free">¥ Free</span>
                        {% endif %}
                        <a href="https://booth.pm/ja/items/{{ item.item_id }}" target="blank">
                            <img alt="emoji" class="emoji" src="{% static 'BOOTH_emoji.png' %}"  />
                        </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if total > 0 %}
        {% if total > 200 %}
            <hr />
            <div class="div-equal-box">
                <div>
                    {% if page > 10 %}
                        <a class="Link"
                           href="{% url 'app:avatar'  avatar_id=avatar.avatar_id %}?page={{ page|add:-10 }}">
                            <<
                        </a>
                    {% endif %}
                </div>
                <div>
                    {% if page > 1 %}
                        <a class="Link"
                           href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}?page={{ page|add:-1 }} ">
                            <
                        </a>
                    {% endif %}
                </div>
                <div>page {{ page }}</div>
                <div>
                    <a class="Link"
                       href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}?page={{ page|add:1 }}">></a>
                </div>
                <div>
                    <a class="Link"
                       href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}?page={{ page|add:10 }}">>></a>
                </div>
            </div>
        {% endif %}
        <h4>対応アイテム</h4>
        <div class="boxContainer">
            {% for item in normal_items %}
            {% if item.isHighlight %}
            <div class="box-highlight">
            {% else %}
                <div class="box">
            {% endif %}
                    <a href="{% url 'app:item' item_id=item.item_id %}">
                        <img alt="thumb" src="{{ item.imageURL }}" class="thumb" />
                    </a>
                    <p>
                        <a href="{% url 'app:item' item_id=item.item_id %}">{{ item|truncatechars:30 }}</a>
                        by
                        <a href="{% url 'app:creator' creator_id=item.creator.creator_id %}">{{ item.creator|truncatechars:30 }}</a>
                        <br />
                        {% if item.price > 0 %}
                            <span class="price">¥ {{ item.price|intcomma }}</span>
                        {% else %}
                            <span class="free">¥ Free</span>
                        {% endif %}
                        <a href="https://booth.pm/ja/items/{{ item.item_id }}" target="blank">
                            <img alt="emoji" class="emoji" src="{% static 'BOOTH_emoji.png' %}" />
                        </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
