{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    {% load static %}
    <h3 class="deco">Avatars List</h3>
    <form method="get" action="{% url 'app:avatars' %}">
        {{ form }}
        {% if sort_hot %}<input type="hidden" name="sort_hot" value="on" />{% endif %}
        <input type="submit" value="Filter" class="button" />
        （{{ total|intcomma }} avatars）
        {% if sort_hot %}
            <button name="sort_hot" value="off" class="button">Total</button>
        {% else %}
            <button name="sort_hot" value="on" class="button">Hot</button>
        {% endif %}
    </form>
    <div class="div-equal-box">
        <div>
            {% if page > 10 %}
                <a class="Link"
                   href="{% url 'app:avatars' %}?page={{ page|add:-10 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                    <<
                </a>
            {% endif %}
        </div>
        <div>
            {% if page > 1 %}
                <a class="Link"
                   href="{% url 'app:avatars' %}?page={{ page|add:-1 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                    <
                </a>
            {% endif %}
        </div>
        <div>page {{ page }}</div>
        <div>
            <a class="Link"
               href="{% url 'app:avatars' %}?page={{ page|add:1 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                >
            </a>
        </div>
        <div>
            <a class="Link"
               href="{% url 'app:avatars' %}?page={{ page|add:10 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                >>
            </a>
        </div>
    </div>
    <p>
        {% for avatar in avatars %}
            {% if avatar.isHighlight %}
                <div class="boxrow-highlight">
                {% else %}
                    <div class="boxrow">
                    {% endif %}
                    <div style="width:200px">
                        <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">
                            <img alt="thumb" src="{{ avatar.imageURL }}" class="thumb" />
                        </a>
                    </div>
                    <div style="width:auto;margin-left:20px">
                        <p>
                            <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">{{ avatar }}</a>
                        </p>
                        <p>
                            by
                            <a href="{% url 'app:creator' creator_id=avatar.creator.creator_id %}">{{ avatar.creator }}</a>
                        </p>
                        <p>
                        対応アイテム：<span class="price">{{ avatar.items.all|length|intcomma }}</span> 点
                        {% if sort_hot %}<span class="free">(+{{ avatar.item_hot }})</span>{% endif %}
                    </p>
                    {% if avatar.price > 0 %}
                        <span class="price">¥ {{ avatar.price|intcomma }}</span>
                    {% else %}
                        <span class="free">¥ Free</span>
                    {% endif %}
                    <a href="https://booth.pm/ja/items/{{ avatar.avatar_id }}"
                       target="blank">
                        <img src="{% static 'BOOTH_emoji.png' %}" class="emoji" alt="emoji" />
                    </a>
                    {% if user.is_authenticated %}
                    <div>
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                {% if avatar.folders_want %}
                                style="background-color:white;color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                                {% else %}
                                style="background-color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                                {% endif %}
                                {% if avatar.folders_want %}
                                ✔ WANT
                                {% else %}
                                +WANT
                                {% endif %}
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                                {% for folder in folders %}
                                <a class="dropdown-item" href="{% url 'app:folder' pk=folder.pk %}"
                                    style="display:inline;line-height:40px">
                                    {% if not folder in avatar.folders_want %}
                                    <form method="post" style="display:inline">
                                        {% csrf_token %}
                                        <button class="button" name="add_want" value="{{ folder.pk }}">+WANT</button>
                                    </form>
                                    {% else %}
                                    <button class="button_already" disabled>Added</button>
                                    {% endif %}
                                    {{ folder }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                {% if avatar.folders_owned %}
                                style="background-color:white;color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                                {% else %}
                                style="background-color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                                {% endif %}
                                {% if avatar.folders_owned %}
                                ✔ OWNED
                                {% else %}
                                +OWNED
                                {% endif %}
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                                {% for folder in folders %}
                                <a class="dropdown-item" href="{% url 'app:folder' pk=folder.pk %}"
                                    style="display:inline;line-height:40px">
                                    {% if not folder in avatar.folders_owned %}
                                    <form method="post" style="display:inline">
                                        {% csrf_token %}
                                        <button class="button" name="add" value="{{ folder.pk }}">+OWNED</button>
                                    </form>
                                    {% else %}
                                    <button class="button_already" disabled>Added</button>
                                    {% endif %}
                                    {{ folder }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="div-equal-box">
            <div>
                {% if page > 10 %}
                    <a class="Link"
                       href="{% url 'app:avatars' %}?page={{ page|add:-10 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                        <<
                    </a>
                {% endif %}
            </div>
            <div>
                {% if page > 1 %}
                    <a class="Link"
                       href="{% url 'app:avatars' %}?page={{ page|add:-1 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                        <
                    </a>
                {% endif %}
            </div>
            <div>page {{ page }}</div>
            <div>
                <a class="Link"
                   href="{% url 'app:avatars' %}?page={{ page|add:1 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                    >
                </a>
            </div>
            <div>
                <a class="Link"
                   href="{% url 'app:avatars' %}?page={{ page|add:10 }}{% if word != '' %}&word={{ word }}{% endif %}{% if free_only %}&free_only=on{% endif %}{% if sort_hot %}&sort_hot=on{% endif %}">
                    >>
                </a>
            </div>
        </div>
    </p>
{% endblock content %}
