{% load static %}
<html lang="ja">
    <head>
        <title>Avatar Network</title>
        <link rel="icon" href="{% static 'an_icon.png' %}" />
        <meta property="og:title" content="Avatar Network" />
        <meta property="og:description"
              content="BOOTHで販売されているアバターを、対応アイテムの数を元に検索できるサービスです。"/>
        <meta property="og:site_name" content="JapanBeatSaberLeague" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{% static 'card.png' %}" />
        <meta name="twitter:card" content="{% static 'card.png' %}" />
        <meta name="twitter:site" content="@hibit_at" />
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJ7VZ4RNWW"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-JJ7VZ4RNWW');
        </script>
    </head>
    <body>
        <id="pagetop" />
        <nav>
            <div class="navbar">
                <div class="inside-navbar">
                    <a href="{% url 'app:index' %}">Avatar Network</a>
                    /
                    <a href="{% url 'app:avatars' %}">Avatars</a>
                    /
                    <a href="{% url 'app:items' %}">Items</a>
                    /
                    <a href="{% url 'app:creators' %}">Creators</a>
                    /
                    <a href="{% url 'app:folders' %}">Folders</a>
                    /
                    <a href="{% url 'app:info' %}">Info</a>
                </div>
                <div class="inside-navbar" style="font-size:20px">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    style="background-color:lightpink;border-style:none;font-size:20px;font-weight:bold">
                                <img src="{{ social.extra_data.profile_image_url_https }}" class="icon"/>
                                ようこそ、{{ user }} さん！
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                   href="{% url 'app:userpage' pk=user.pk %}">マイページ</a>
                                <hr>
                                {% for folder in user.customer.folder.all %}
                                    <a class="dropdown-item" href="{% url 'app:folder' pk=folder.pk %}">{{ folder }}</a>
                                {% endfor %}
                                <hr>
                                <a class="dropdown-item" href="{% url 'app:recommend' %}">追加提案</a>
                                <hr>
                                <a class="dropdown-item" href="{% url 'app:logout' %}">ログアウト</a>
                            </div>
                        </div>
                        {% else %}
                            <div class="dropdown" style="margin-right:200px">
                                <a href="{% url 'app:secure_login' %}" >ログイン</a>
                            </div>
                        {% endif %}
                </div>
            </div>
        </nav>
        <div class="content">
            {% block content %}
            {% endblock content %}
            <hr />
            <h3>
                <a href="{% url 'app:index' %}" class="deco">Top</a>
            </h3>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
