{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    {% load static %}
    <h3 class="deco">Creators List</h3>
    <form method="get" action="{% url 'app:creators' %}">
        {{ form }}
        <input type="submit" class="button" value="Filter" />
        （{{ total|intcomma }} creators）
    </form>
    {% include 'page_object.html' with keyword='app:creators' %}
    {% for creator in creators %}
        {% if creator.highlight.all|length > 0 %}
            <div class="creator-highlight">
            {% else %}
                <div class="creator">
                {% endif %}
                <p style="display:inline">
                    <a href="{% url 'app:creator' creator_id=creator.creator_id %}">{{ creator }}</a>
                    {% if creator.highlight.all|length > 0 %}
                        <img src="{% static 'star.png' %}" width="15px" height="15px">
                    {% endif %}
                    <ul>
                        {% if creator.avatars.all|length > 0 %}
                            <li>Avatars</li>
                            <ul>
                                {% for avatar in creator.avatars.all %}
                                    <li>
                                        <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">{{ avatar }}</a>
                                        {% if avatar.price > 0 %}
                                            <span class="price">¥ {{ avatar.price|intcomma }}</span>
                                        {% else %}
                                            <span class="free">¥ Free</span>
                                        {% endif %}
                                        {% if avatar.num_items > 0 %}
                                            対応アイテム
                                            <span class="price">{{ avatar.num_items }}</span>
                                            点
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if creator.items.all|length > 0 %}
                            <li>Items</li>
                            <ul>
                                {% for item in creator.items.all %}
                                    <li>
                                        <a href="{% url 'app:item' item_id=item.item_id %}">{{ item }}</a>
                                        {% if item.price > 0 %}
                                            <span class="price">¥ {{ item.price|intcomma }}</span>
                                        {% else %}
                                            <span class="free">¥ Free</span>
                                        {% endif %}
                                        {% if item.num_avatars > 0 %}
                                            対応アバター
                                            <span class="price">{{ item.num_avatars }}</span>
                                            体
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </ul>
                </p>
            </div>
        {% endfor %}
        {% include 'page_object.html' with keyword='app:creators' %}
    {% endblock content %}
