{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% load humanize %}
    <h3 class="deco">Folders List</h3>
    {% for folder in folders %}
        <div class="creator">
            <p>
                <a href="{% url 'app:folder' pk=folder.pk %}"><b>{{ folder }}</b> by {{ folder.editor }}</a>
            </p>
            <p>
                {{ folder.description|truncatechars:30 }}
            </p>
            {% if folder.fav_avatar.all|length > 0 %}
                <div class="boxContainer">
                    {% for avatar in folder.fav_avatar.all|slice:":10" %}
                        <div class="box" style="width:160px;height:160px">
                            <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">
                                <img alt="thumb"
                                     src="{{ avatar.imageURL }}"
                                     class="thumb"
                                     style="width:150px;height:150px"/>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if folder.item_length > 0 %}
                    {% for item in folder.select_items %}
                        <div class="box" style="width:160px;height:160px">
                            <a href="{% url 'app:item' item_id=item.item_id %}">
                                <img alt="thumb"
                                     src="{{ item.imageURL }}"
                                     class="thumb"
                                     style="width:150px;height:150px"/>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    {% endfor %}
{% endblock content %}
