{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% load humanize %}
    <div class="welcome">
        <p class="deco">
            Welcome to Avatar Network
        </p>
        <p>
            <a href="{% url 'app:avatars' %}">アバター一覧から探す</a>
        </p>
        <p>
            <a href="{% url 'app:items' %}">アイテム一覧から探す</a>
        </p>
        <p>
            <a href="{% url 'app:creators' %}">クリエイター一覧から探す</a>
        </p>
        <p>
            <a href="{% url 'app:folders' %}">公開フォルダー一覧から探す</a>
        </p>
    </div>
    <hr />
    <h3 class="deco">Lucky Avatars</h3>
    <div class="boxContainer">
        {% for avatar in avatars %}
            <div class="box">
                <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">
                    <img src="{{ avatar.imageURL }}" class="thumb" alt="thumb" />
                </a>
                <p>
                    <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">{{ avatar|truncatechars:30 }}</a>
                    by
                    <a href="{% url 'app:creator' creator_id=avatar.creator.creator_id %}">{{ avatar.creator|truncatechars:20 }}</a>
                    <br />
                    {% include 'price_object.html' with price=avatar.price %}
                    <a href="https://booth.pm/ja/items/{{ avatar.avatar_id }}"
                       target="blank">
                        <img src="{% static 'BOOTH_emoji.png' %}" class="emoji" alt="emoji" />
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
    <hr />
    <h3 class="deco">Lucky Items</h3>
    <div class="boxContainer">
        {% for item in items %}
            <div class="box">
                <a href="{% url 'app:item' item_id=item.item_id %}">
                    <img src="{{ item.imageURL }}" class="thumb" alt="thumb"/>
                </a>
                <p>
                    <a href="{% url 'app:item' item_id=item.item_id %}">{{ item|truncatechars:30 }}</a>
                    by
                    <a href="{% url 'app:creator' creator_id=item.creator.creator_id %}">{{ item.creator|truncatechars:30 }}</a>
                    <br />
                    {% include 'price_object.html' with price=item.price %}
                    <a href="https://booth.pm/ja/items/{{ item.item_id }}" target="blank">
                        <img src="{% static 'BOOTH_emoji.png' %}" class="emoji" alt="emoji" />
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
    <hr />
    <h3 class="deco">Lucky Folder</h3>
    <div class="creator">
        <p>
            <a href="{% url 'app:folder' pk=folder.pk %}"><b>{{ folder }}</b> by {{ folder.editor }}</a>
        </p>
        <p>
            {{ folder.description|truncatechars:30 }}
        </p>
        <div class="boxContainer">
            {% if folder.want_avatar.all|length > 0 %}
                {% comment %} <div class="boxContainer"> {% endcomment %}
                {% for avatar in folder.want_avatar.all|slice:":7" %}
                    <div class="box" style="width:160px;height:160px">
                        <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">
                            <img alt="thumb"
                                 src="{{ avatar.imageURL }}"
                                 class="thumb"
                                 {% if folder.isNSFW %} style="width:150px;height:150px;filter:blur(10px)" {% else %} style="width:150px;height:150px" {% endif %}/>
                        </a>
                    </div>
                {% endfor %}
                {% comment %} </div> {% endcomment %}
            {% endif %}
            {% if folder.want_item.all|length > 0 %}
                {% comment %} <div class="boxContainer"> {% endcomment %}
                {% for item in folder.want_item.all|slice:":7" %}
                    <div class="box" style="width:160px;height:160px">
                        <a href="{% url 'app:item' item_id=item.item_id %}">
                            <img alt="thumb"
                                 src="{{ item.imageURL }}"
                                 class="thumb"
                                 {% if folder.isNSFW %} style="width:150px;height:150px;filter:blur(10px)" {% else %} style="width:150px;height:150px" {% endif %}/>
                        </a>
                    </div>
                {% endfor %}
                {% comment %} </div> {% endcomment %}
            {% endif %}
            {% if folder.fav_avatar.all|length > 0 %}
                {% comment %} <div class="boxContainer"> {% endcomment %}
                {% for avatar in folder.fav_avatar.all|slice:":7" %}
                    <div class="box" style="width:160px;height:160px">
                        <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">
                            <img alt="thumb"
                                 src="{{ avatar.imageURL }}"
                                 class="thumb"
                                 {% if folder.isNSFW %} style="width:150px;height:150px;filter:blur(10px)" {% else %} style="width:150px;height:150px" {% endif %}/>
                        </a>
                    </div>
                {% endfor %}
                {% comment %} </div> {% endcomment %}
            {% endif %}
            {% if folder.fav_item.all|length > 0 %}
                {% comment %} <div class="boxContainer"> {% endcomment %}
                {% for item in folder.fav_item.all|slice:":7" %}
                    <div class="box" style="width:160px;height:160px">
                        <a href="{% url 'app:item' item_id=item.item_id %}">
                            <img alt="thumb"
                                 src="{{ item.imageURL }}"
                                 class="thumb"
                                 {% if folder.isNSFW %} style="width:150px;height:150px;filter:blur(10px)" {% else %} style="width:150px;height:150px" {% endif %}/>
                        </a>
                    </div>
                {% endfor %}
                {% comment %} </div> {% endcomment %}
            {% endif %}
        </div>
    </div>
    <hr />
    <h3 class="deco">Weekly Hot</h3>
    <ul>
        {% for avatar in hot_avatars %}
            <li>
                <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">{{ avatar }}</a>
                {% include 'price_object.html' with price=avatar.price %}
                by
                <a href="{% url 'app:creator' creator_id=avatar.creator.creator_id %}">{{ avatar.creator }}</a>
                <span class="free">(+{{ avatar.item_hot }})</span>
            </li>
        {% endfor %}
        <a href="{% url 'app:avatars' %}?sort_hot=on">
            <button class="button">
                More Results
            </button>
        </a>
    </ul>
    <hr />
    <h3 class="deco">Most Wanted</h3>
    <ul>
        Avatars
        <ul>
            {% for avatar in wanted_avatars %}
                <li>
                    <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">{{ avatar }}</a>
                    {% include 'price_object.html' with price=avatar.price %}
                    by
                    <a href="{% url 'app:creator' creator_id=avatar.creator.creator_id %}">{{ avatar.creator }}</a>
                    <span class="free">({{ avatar.want }} wanted)</span>
                </li>
            {% endfor %}
        </ul>
        Items
        <ul>
            {% for item in wanted_items %}
                <li>
                    <a href="{% url 'app:item' item_id=item.item_id %}">{{ item }}</a>
                    {% include 'price_object.html' with price=item.price %}
                    by
                    <a href="{% url 'app:creator' creator_id=item.creator.creator_id %}">{{ item.creator }}</a>
                    <span class="free">({{ item.want }} wanted)</span>
                </li>
            {% endfor %}
        </ul>
    </ul>
    <hr />
    <h3 class="deco">Recent Updates</h3>
    <ul>
        Avatars
        <ul>
            {% for avatar in recent_avatars %}
                <li>
                    <a href="{% url 'app:avatar' avatar_id=avatar.avatar_id %}">{{ avatar }}</a>
                    {% include 'price_object.html' with price=avatar.price %}
                    by
                    <a href="{% url 'app:creator' creator_id=avatar.creator.creator_id %}">{{ avatar.creator }}</a>
                </li>
            {% endfor %}
        </ul>
        Items
        <ul>
            {% for item in recent_items %}
                <li>
                    <a href="{% url 'app:item' item_id=item.item_id %}">{{ item }}</a>
                    {% include 'price_object.html' with price=item.price %}
                    by
                    <a href="{% url 'app:creator' creator_id=item.creator.creator_id %}">{{ item.creator }}</a>
                </li>
            {% endfor %}
        </ul>
    </ul>
    <hr />
    <h4 class="deco">
        Supporters
    </h4>
    <p>
        以下の方々にご支援いただいています。ありがとうございます。
    </p>
    <ul>
        {% for supporter in supporters %}
            <li>
                {{ supporter }} 様
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
