{% extends 'base.html' %}
{% block content%}
<h3 class="deco">Avatar Networkとは？</h3>
<p>Avatar Networkは、Boothの3Dモデル（アバターやアイテム）を、<b>対応アイテムや対応アバターがあるか？</b>といった観点から検索できるサービスです。</p>
<p><a href="{% url 'app:avatar' avatar_id=top_avatar_id %}" target="blank">アバターの商品ページ</a>からは対応するアイテムを一覧できたり、
逆に<a href="{% url 'app:item' item_id=top_item_id %}" target="blank">アイテムの商品ページ</a>から対応するアバターを一覧できたりします。</p>
<p>もし、BOOTHに出店している方で、ここでの紹介をとりやめて欲しい場合は、お手数ですが<a href="https://twitter.com/hibit_at">作者のTwitter</a>にDMかリプライでお知らせください。確認とれ次第、対応します。</p>
<hr>
<h3 class="deco">使い方</h3>
<h4>アバター一覧から探す</h4>
<p>アバターをサムネイルと共に一覧できます。対応アイテムがあるアバターはその数も見ることができます。アバターは対応アイテム数に対して降順にソートされています。</p>
<ul>
<li>対応アイテムが多い定番アバターが欲しい方はトップページ付近で</li>
<li>他人とそれほど被らなくて、それでもなお対応アイテムが用意されているアバターが欲しい方は、ある程度ページが進んだ所で</li>
</ul>
<p>アバターを探すのがオススメです。</p>
<h4>アイテム一覧から探す</h4>
<p>アイテムをサムネイルと共に一覧できます。対応アバターがあるアイテムはその数も見ることができます。アイテムは対応アバター数に対して降順にソートされています。</p>
<h4>クリエイター一覧から探す</h4>
<p>アバターとアイテムを、クリエイターごとに並べたものです。クリエイターは、アバターごとの対応アイテム数を合計した数に対して降順にソートされています。</p>
<hr>
<h3 class="deco">FAQ:アバターが登録されていない</h3>
<p>本サービスは、Boothのサブカテゴリが「3Dキャラクター」になっているものをアバターとして登録しています。</p>
<p>一部のアバターは、このサブカテゴリができる前に販売され、かつサブカテゴリを登録し直していない可能性があります。</p>
<h3 class="deco">FAQ:対応しているはずのアイテムがない</h3>
<p>本サービスは、<b>商品説明文にそのアバターへのリンクがあるか</b>という点で「対応アバター」を判断しております。</p>
<p>そのため、明らかにそのアバター専用のアイテムであっても、リンクがなければ本サービス上では集計されません。</p>
<p>偽陽性（対応していないはずが、している）は少ない一方で、偽陰性（対応しているはずなのに、していない）はかなりあると予想されます。</p>
<p>現段階ではこれ以外の仕様で統一的な解析を行うことが難しいので、ご容赦ください。</p>
<h3 class="deco">FAQ:サイトのデザインやロジックを改良できないか</h3>
<p>本サービスは<a href="https://github.com/hibit-at/avatar_network">GitHubリポジトリ</a>を公開しております。</p>
<p>もし改善点がある方は、プルリクエストやイシューをお願いします。</p>
<p>それ以外の手順による要望（TwitterのDM等）には一切対応しかねます。</p>
<p>ただし、明確な不具合や、ごく軽微な改善等ならばこれに限りません。</p>
<h3 class="deco">FAQ:対応アイテムを個別に関連づけしたい</h3>
<p>逐一対応するとすごい数になるため、原則的にはそのような要望にも対応しかねます。</p>
<p>ただし、こちらの扱いやすい形式でアバターとアイテムとの関連付けをまとめていただけるならば、それを元に一括登録することはできます。</p>
<p>その場合でも、1つや2つではなく、ある程度まとまった単位（目安としては10個以上）で用意していただけると助かります。</p>
<p>そのような形で協力したい場合は、<a href="https://twitter.com/hibit_at">作者のTwitter</a>までDMをください。</p>

{% endblock  %}
 