{% extends "base.html" %}
{% block content %}
    <h3 class="deco">Avatar Networkとは？</h3>
    <p>
    Avatar Networkは、BOOTHの3Dモデル（アバターやアイテム）を、<b>対応アイテムや対応アバターがあるか？</b>といった観点から検索できるサービスです。
</p>
<p>
    <a href="{% url 'app:avatar' avatar_id=top_avatar_id %}"
       target="blank"
       style="background-color:lightpink">アバターの商品ページ</a>からは対応するアイテムを一覧できたり、
逆に<a href="{% url 'app:item' item_id=top_item_id %}"
   target="blank"
   style="background-color:lightpink">アイテムの商品ページ</a>から対応するアバターを一覧できたりします。
</p>
<p>
    また、お気に入りフォルダを作ったり、欲しい物リストとして公開することもできます。
</p>
<p>
もし、BOOTHに出店している方で、ここでの紹介をとりやめて欲しい場合は、お手数ですが<a href="https://twitter.com/hibit_at"
   style="background-color:lightpink">作者のTwitter</a>にDMかリプライでお知らせください。確認とれ次第、対応します。
</p>
<hr />
<h3 class="deco">使い方</h3>
<h4>アバター一覧から探す</h4>
<p>
    アバターをサムネイルと共に一覧できます。対応アイテムがあるアバターはその数も見ることができます。アバターは対応アイテム数に対して降順にソートされています。
</p>
<ul>
    <li>対応アイテムが多い定番アバターが欲しい方はトップページ付近で</li>
    <li>他人とそれほど被らなくて、それでもなお対応アイテムが用意されているアバターが欲しい方は、ある程度ページが進んだ所で</li>
</ul>
<p>
    アバターを探すのがオススメです。
</p>
<h4>アイテム一覧から探す</h4>
<p>
    アイテムをサムネイルと共に一覧できます。対応アバターがあるアイテムはその数も見ることができます。アイテムは対応アバター数に対して降順にソートされています。
</p>
<h4>クリエイター一覧から探す</h4>
<p>
    アバターとアイテムを、クリエイターごとに並べたものです。クリエイターは、アバターごとの対応アイテム数を合計した数に対して降順にソートされています。
</p>
<h4>フォルダー一覧から探す</h4>
<p>
    <strong>※ BOOTHのギフト機能実装に伴い、フォルダーの仕様に変更を加えました。（2022/12/29）</strong>
</p>
<p>
    一部のユーザーは、お気に入りフォルダーを公開しています。好みの似たユーザーのフォルダーからアバターやアイテムを探すこともできます。
</p>
<p>
    なお、フォルダーは「欲しい物」（WANT）と「既に持っている物／オススメしたい物」（OWNED/RECOMMEND）に分けて登録できます。
</p>
<hr />
<h3 class="deco">FAQ</h3>
<p><b>※ 認証システムの導入に伴い、内容を変更しました（2022/3/31）</b></p>
<p>
    <strong>※ BOOTHのギフト機能実装に伴い、内容を変更しました（2022/12/29）</strong>
</p>
<h4>アバターが登録されていない</h4>
<p>
    本サービスは、BOOTHのサブカテゴリが「3Dキャラクター」になっているものをアバターとして登録しています。
</p>
<p>
    一部のアバターは、このサブカテゴリができる前に販売され、かつサブカテゴリを登録し直していない可能性があります。
</p>
<p>
なお、認証ユーザーは、<a href="{% url 'app:recommend' %}" style="background-color:lightpink">追加提案フォーム</a>からアバターまたはアイテムの追加候補を提案することができます。
</p>
<h4>対応しているはずのアイテムがない</h4>
<p>
本サービスは、<b>商品説明文にそのアバターへのリンクがあるか</b>という点で「対応アバター」を判断しております。
</p>
<p>
    そのため、明らかにそのアバター専用のアイテムであっても、リンクがなければ本サービス上では集計されません。
</p>
<p>
    偽陽性（対応していないはずが、している）は少ない一方で、偽陰性（対応しているはずなのに、していない）はかなりあると予想されます。
</p>
<p>
    現段階ではこれ以外の仕様で統一的な解析を行うことが難しいので、ご容赦ください。
</p>
<p>
    今後、アバターとアイテムの関連付けに対しても提案フォームのような形で共同編集する対策を考えています。
</p>
<h4 id="want_and_recommend">WANT と OWNED/RECOMMEND はなにが違うのか</h4>
<p>
    従来、お気に入りフォルダーは広い意味で「お気に入り」としていましたが、BOOTHのギフト機能実装に伴い、いわゆる「欲しい物リスト」として活用される方が増えてきました。
</p>
<p>
    フォルダー内のアバターやアイテムの扱いが曖昧だと無用なトラブルを招くかもしれないため、そこを明確にして交通整理できるようにした方がよいと思い、仕様変更を行いました。
</p>
<p>
    いわゆる「欲しい物リスト」として使いたい場合は、WANT の欄に登録して、フォルダーを外部公開（Public）にしてください。（非公開のままでは、本人以外には見えません！）
</p>
<p>
    なお、デフォルト（仕様変更前）に登録したものはすべて「OWNED/RECOMMEND」になります。
</p>
<p>
    欲しい物リストとして登録していた方でも、全て「OWNED/RECOMMEND」になっていますが、ご了承ください。
</p>
<p>
    なお、<strong>そのようなユーザーのための過渡期的な処理として、臨時に「SWAP」ボタンを設けております。</strong>
</p>
<p>
    このボタンを押すと、「WANT」と「OWNED/RECOMMEND」の欄がすべて入れ替わります。
</p>
<h4>持っていないけど、買いたい商品／好きな商品はどちらに入れるべきか</h4>
<p>
    最終的には自由ですが、それを見た誰かがギフトとして送る、という事態を歓迎するなら「WANT」、避けたいなら「OWNED/RECOMMEND」に入れることを推奨します。
</p>
<h4>欲しい物リストや所持リストはBOOTHと連動しているのか</h4>
<p>
    残念ながら、そのような連動機能はありません。
</p>
<p>
    もしギフトを受け取る等して欲しい商品を得られた場合、お手数ですがこちらのサービスでも手動でそれを反映してください。
</p>
<p>
また、商品を送りたい方も、<strong>そのようなラグがある可能性がある</strong>ことをご留意ください。
</p>
<p>
    ここにある情報は、あくまで参考情報としてお使いください。
</p>
<h4>サイトのデザインやロジックを改良できないか</h4>
<p>
本サービスは<a href="https://github.com/hibit-at/avatar_network"
   style="background-color:lightpink">GitHubリポジトリ</a>を公開しております。
</p>
<p>
    もし改善点がある方は、プルリクエストやイシューをお願いします。
</p>
<p>
    それ以外の手順による要望（TwitterのDM等）には一切対応しかねます。
</p>
<p>
    ただし、明確な不具合や、ごく軽微な改善等ならばこれに限りません。
</p>
<h4>検索結果の内、金色で強調表示されているものがある</h4>
<p>
    後述のサポーター特典によるものです。
</p>
<p>
    自分の宣伝のため、または特定のクリエイターを応援するために、サポーターはハイライト表示するクリエイターを一つ選択することができます。
</p>
<p>
    ハイライトされたクリエイターによるアバターまたはアイテムは、検索結果において強調表示されます。
</p>
<p>
    誰が誰をハイライトしたかは、ハイライトした本人にしかわかりません。
</p>
<p>
    また、<u>ハイライトの有無によって検索結果の順位が上下することはありません。</u>
</p>
<h4>サポーターについて</h4>
<p>
当サービスは、サーバー代の維持（月2千円弱かかっています）のために支援いただける<a href="https://hibit.fanbox.cc/" style="background-color:lightpink">サポーター</a>を募集しています。
</p>
<p>
    サポーターの皆様に対しては、以下のような特典を用意しています。
</p>
<ul>
    <li>
        当サービス上でサポーターであることの表示（TOPページの下部に表示されます）
    </li>
    <li>
        お気に入りフォルダーの複数作成
    </li>
    <li>
        特定クリエイターのハイライト表示
    </li>
</ul>
<p>
    当サービスを長く続けていくためにも、ぜひご支援いただけたらと思います。
</p>
{% endblock content %}
