{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    {% load static %}
    <script src="{% static 'list_folder_form.js' %}"></script>
    <h3 class="deco">Items List</h3>
    <form method="get" action="{% url 'app:items' %}">
        {{ form }}
        {% if sort_latest %}<input type="hidden" name="sort_latest" value="on" />{% endif %}
        <input type="submit" value="Filter" class="button" />
        （{{ total|intcomma }} items）
        {% if sort_latest %}
            Sort by Latest
            <button name="sort_latest" value="off" class="button">to Total</button>
        {% else %}
            Sort by Total
            <button name="sort_latest" value="on" class="button">to Latest</button>
        {% endif %}
    </form>
    {% include 'page_object.html' with keyword='app:items' add_bool=sort_latest add_str='sort_latest' %}
    {% for item in items %}
        {% if item.isHighlight %}
            <div class="boxrow-highlight">
            {% else %}
                <div class="boxrow">
                {% endif %}
                <div style="width:200px">
                    <a href="{% url 'app:item' item_id=item.item_id %}">
                        <img src="{{ item.imageURL }}" class="thumb" alt="thumb" />
                    </a>
                </div>
                <div style="width:auto;margin-left:20px">
                    <p>
                        <a href="{% url 'app:item' item_id=item.item_id %}">{{ item }}</a>
                    </p>
                    <p>
                        by
                        <a href="{% url 'app:creator' creator_id=item.creator.creator_id %}">{{ item.creator }}</a>
                    </p>
                対応アバター：<span class="price">{{ item.avatar.all|length }}</span> 点
                <p>
                    {% include 'price_object.html' with price=item.price %}
                    <a href="https://booth.pm/ja/items/{{ item.item_id }}" target="blank">
                        <img src="{% static 'BOOTH_emoji.png' %}" class="emoji" alt="emoji" />
                    </a>
                </p>
                {% if user.is_authenticated %}
                    <div class="btn-group dropright">
                        <button type="button"
                                class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                {% if item.folders_wanted %}
                                style="background-color:white;color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                        {% else %}
                            style="background-color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                        {% endif %}
                        {% if item.folders_wanted %}
                            ✔ WANT
                        {% else %}
                            +WANT
                        {% endif %}
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        {% for folder in folders %}
                            <a class="dropdown-item"
                               href="{% url 'app:folder' pk=folder.pk %}"
                               style="display:inline;line-height:40px">
                                {% if folder not in item.folders_wanted %}
                                    <form class="list_folder_form"
                                          method="post"
                                          style="display:inline"
                                          action="{% url 'app:item' item_id=item.item_id %}">
                                        {% csrf_token %}
                                        <button class="button" name="add_want" value="{{ folder.pk }}">+WANT</button>
                                    </form>
                                {% else %}
                                    <button class="button_already" disabled>Added</button>
                                {% endif %}
                                {{ folder }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="btn-group dropright">
                    <button type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            {% if item.folders_owned %}
                            style="background-color:white;color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                    {% else %}
                        style="background-color:lightpink;border: 2px solid lightpink;font-size:20px;font-weight:bold">
                    {% endif %}
                    {% if item.folders_owned %}
                        ✔ OWNED
                    {% else %}
                        +OWNED
                    {% endif %}
                </button>
                <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    {% for folder in folders %}
                        <a class="dropdown-item"
                           href="{% url 'app:folder' pk=folder.pk %}"
                           style="display:inline;line-height:40px">
                            {% if folder not in item.folders_owned %}
                                <form class="list_folder_form"
                                      method="post"
                                      style="display:inline"
                                      action="{% url 'app:item' item_id=item.item_id %}">
                                    {% csrf_token %}
                                    <button class="button" name="add" value="{{ folder.pk }}">+OWNED</button>
                                </form>
                            {% else %}
                                <button class="button_already" disabled>Added</button>
                            {% endif %}
                            {{ folder }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% include 'page_object.html' with keyword='app:items' add_bool=sort_latest add_str='sort_latest' %}
{% endblock content %}
