{% extends "base.html" %}
{% block content %}
    <h4 class="deco">支援のお願い</h4>
    <p>
        Avatar Network をご利用の皆様へ。
    </p>
    <p>
        実は本サービスは Web サイトとして公開し、維持していくだけでも月額 2 千円弱の維持費がかかっています。
    </p>
    <p>
        できれば広告をつけるなどのことはしたくないですが、このまま赤字運営が続けばサービス閉鎖も検討するレベルです。
    </p>
    <p>
        そこで、サポーターを募らせていただくことにしました。
    </p>
    <p>
        サポーターの皆様に対しては、以下のような特典を用意しています。
    </p>
    <ul>
        <li>当サービス上でサポーターであることの表示（トップページの下部に表示されます）</li>
        <li>お気に入りフォルダーの複数作成</li>
        <li>特定クリエイターのハイライト表示</li>
    </ul>
    <p>
        <p>
        登録は、<a style="background-color:lightpink" href="https://hibit.fanbox.cc/">PIXIV FANBOX</a> からお願いします。
    </p>
    <p>
        費用は月額 190 円となります。
    </p>
    <p>
        月額の費用がペイできる程度にサポートが集まるまでは、恐縮ながら、募集のリンクをトップページに貼らせていただきます。
    </p>
    <p>
        当サービスを長く続けていくためにも、ぜひご支援いただけたらと思います。
    </p>
    <p style="text-align:right">
        hibit
    </p>
{% endblock content %}
