{% extends "base.html" %}
{% block content %}
    <h3 class="deco">アバター＆アイテム追加提案</h3>
    <p>
        ※この機能は試験的に追加しています。
    </p>
    <p>
        認証ユーザーは URL をもとにアバターかアイテムを提案できます。
    </p>
    <p>
        提案されたものに対して、審査権限者（現在は hibit のみ）が承認を押すと追加されます。
    </p>
    <p>
        最終的にどういう仕様にするかは考え中......
    </p>
    {% if error != None %}
        <p style="color:red">
            {{ error }}
        </p>
    {% endif %}
    {% if success != None %}
        <p style="color:blue">
            {{ success }}
        </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        Avata URL :
        <input type="text" size="80px" name="avatar_id"/>
        <button class="button">推薦</button>
        <p>
            記入例 : https://booth.pm/ja/items/3681787
        </p>
    </form>
    <form method="post">
        {% csrf_token %}
        Item URL :
        <input type="text" size="80px" name="item_id"/>
        <button class="button">推薦</button>
        <p>
            記入例 : https://booth.pm/ja/items/2254519
        </p>
    </form>
    <p>※この下のフォームでは、アバターとアイテムの関連付けを推薦できます</p>
    <form method="post">
        {% csrf_token %}
        <p>Relation Avatar URL : <input type="text" size="80px" name="relation_avatar"/></p>
        <p>Relation Item URL : <input type="text" size="80px" name="relation_item" /></p>
        <p>
            記入例は上の Avatar と Item と同様。
            <button class="button">推薦</button>
        </P> 
    </form>
    <hr>
    <h3 class="deco">AvatarQueue</h3>
    {% for avatar in avatars %}
        <ul>
            <li>
                {{ avatar }} ... <a href="https://booth.pm/ja/items/{{ avatar.avatar_id }}">https://booth.pm/ja/items/{{ avatar.avatar_id }}</a>
                {% if user.is_staff %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-success" name="approve" value="{{ avatar.avatar_id }}">承認</button>
                        <button class="btn btn-danger" name="decline" value="{{ avatar.avatar_id }}">拒否</button>
                    </form>
                {% endif %}
                <ul>
                    <li>{{ avatar.describe }}</li>
                </ul>
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h3 class="deco">ItemQueue</h3>
    {% for item in items %}
        <ul>
            <li>
                {{ item }} ... <a href="https://booth.pm/ja/items/{{ item.item_id }}">https://booth.pm/ja/items/{{ item.item_id }}</a>
                {% if user.is_staff %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-success" name="approve_item" value="{{ item.item_id }}">承認</button>
                        <button class="btn btn-danger" name="decline_item" value="{{ item.item_id }}">拒否</button>
                    </form>
                {% endif %}
                <ul>
                    <li>{{ item.describe }}</li>
                </ul>
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h3 class="deco">RelationQueue</h3>
    {% for relation in relations %}
        <ul>
            <li>
                {{ relation }}
                {% if user.is_staff %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-success" name="approve_relation" value="{{ relation.pk }}">承認</button>
                        <button class="btn btn-danger" name="decline_relation" value="{{ relation.pk }}">拒否</button>
                    </form>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% endblock content %}
